version: '3.7'
services:
  node-app:
    build: gate-simulator
    image: node-app:1.0
    container_name: node
    ports:
      - '9999:9999'

  postgres:
    image: postgres:13.3
    container_name: postgresql
    volumes:
      - ./data:/var/lib/postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DATABASE=app
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=pass

  mysql:
    image: mysql:8.0.30
    container_name: mysql
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - '3306:3306'
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=app
      - MYSQL_USER=app
      - MYSQL_PASSWORD=pass